#products { 
    
    .action-path { 
        margin-bottom: 50px;
        width: 900px;
        padding: 10px 20px;
        border: 1px solid gray;
    }

   h5 {
       span{
           color: gray;
           font-weight: lighter;
       }
   }

   .selected { 
        color: black  !important;
        font-weight: normal  !important;
   }

   .product {
       border:1px solid black;
       text-align: center;
       margin:15px;
       .product-info {
           width: 100%;
           padding: 10px;
       }
       .product-image img{
            width: 100%;
       }
   }

}