
<h1>
    Orders
</h1>


<div *ngIf="this.authIsSeller" class="seller-orders">

    <div *ngIf="this.acceptedOrders.length" class="accepted-orders">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Product Image
                    </th>
                    <th>
                        Product name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Order status
                    </th>
                </tr>
            </thead>
            <tbody id="order-items">
                <tr *ngFor="let item of this.acceptedOrders">
                    <td>
                        #{{ item.id }}
                    </td>
                    <td class="order-item-image">
                        <img [src]="item.product.imgURL" alt="">
                    </td>
                    <td>
                        {{ item.product.title }}
                    </td>
                    <td>
                        {{ item.amount }}
                    </td>
                    <td>
                        {{ item.status  }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="this.rejectedOrders.length" class="rejected-orders">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Product Image
                    </th>
                    <th>
                        Product name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Order status
                    </th>
                </tr>
            </thead>
            <tbody id="order-items">
                <tr *ngFor="let item of this.rejectedOrders">
                    <td>
                        #{{ item.id }}
                    </td>
                    <td class="order-item-image">
                        <img [src]="item.product.imgURL" alt="">
                    </td>
                    <td>
                        {{ item.product.title }}
                    </td>
                    <td>
                        {{ item.amount }}
                    </td>
                    <td>
                        {{ item.status  }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="this.requestedOrders.length != 0" class="requested-orders">
        <h4>Requested orders</h4>
        <table  class="table table-bordered">
            
            <thead>
                <tr>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Product Image
                    </th>
                    <th>
                        Product name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody id="order-items">
                <tr *ngFor="let item of this.requestedOrders">
                    <td>
                        #{{ item.id }}
                    </td>
                    <td class="order-item-image">
                        <img [src]="item.product.imgURL" alt="">
                    </td>
                    <td>
                        {{ item.product.title }}
                    </td>
                    <td>
                        {{ item.amount }}
                    </td>
                    <td>
                        <button (click)="this.declineOrder(item.id)" style="background-color: red; color: white;" class="btn ">
                            Decline
                        </button>
                        <br>
                        <br>
                        <button (click)="this.acceptOrder(item.id)" style="background-color: green; color: white;" class="btn ">
                            Accept
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
</div>




<ng-container *ngIf="this.orders.length == 0; else elseTemplate">
    <h1>No order found</h1>
</ng-container>
<ng-template #elseTemplate>
    <h4>
        All orders
    </h4>



    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Product Image
                </th>
                <th>
                    Product name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Order status
                </th>
            </tr>
        </thead>
        <tbody id="order-items">
            <tr *ngFor="let item of this.orders">
                <td>
                    #{{ item.id }}
                </td>
                <td class="order-item-image">
                    <img [src]="item.product.imgURL" alt="">
                </td>
                <td>
                    {{ item.product.title }}
                </td>
                <td>
                    {{ item.amount }}
                </td>
                <td>
                    {{ item.status }}
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>


